table {
    width: 500px;
    text-align: left;
    font-style: normal;
    padding-bottom: 5px;
    border-collapse: collapse;
    font-family: Arial;
    vertical-align: middle;
}

.head-row {
    background: linear-gradient(#5BBF06, #4EB106);
    color: white;
    font-weight: 100;
}

img {
    float: left;
    padding: 2px 3px;
}

td {
    vertical-align: middle;
    padding: 5px;
    border: 1px solid #D4D2C1;
}

.white-rows {
    background-color: white;
}

.grayish-rows {
    background-color: #ECECD8;
}
