table{
  width: 624px;
}
table,th,td{
  border: 2px #686868;
  border-style: outset;
  border-collapse: collapse;
}
td{
  padding: 5px;
  font-weight: 400;
}
th{
padding: 5px 3px 5px 3px;
}
.total{
  font-weight: bold;
}
